


{% extends "users/base.html" %}
    

{% block title %} Home Page {% endblock title%}


{% block content %}




<style>
    table {
      table-layout: fixed;
      width: 100%;
    }
    td {
      width: 50%;
    }
  </style>
  <script>var TxtType = function(el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
};

TxtType.prototype.tick = function() {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

    var that = this;
    var delta = 200 - Math.random() * 100;

    if (this.isDeleting) { delta /= 2; }

    if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
    } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
    }

    setTimeout(function() {
    that.tick();
    }, delta);
};

window.onload = function() {
    var elements = document.getElementsByClassName('typewrite');
    for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-type');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtType(elements[i], JSON.parse(toRotate), period);
        }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #d8d8d8}";
    document.body.appendChild(css);
};</script>

{% if user.is_authenticated %}
  <hr>
  <table><tr>
    
    <td style="justify-content: center; text-align: center;">  <a style="color: #d8d8d8; padding: 20px; padding-top: 30px; text-align: center; justify-content: center; margin-left: 20px;" class="typewrite h3 fw-bold mb-2 " data-period="2000" data-type='[ "Welcome To The kstockanalyzer", "Know The Math Behind Getting Rich in the Stock Market." ]'>
      <span class="wrap"></span>
    </a></td>

  </tr></table>

  
    <table>

    
        <tr>
          
    <td style="padding-bottom:6px ;"><div><br><br></div><div class="jumbotron">
      
      <h5 style="color:black">Get Started By Using Given Below Buttons...</h5>
       
        <hr class="my-4">
        
        <p class="lead" style="justify-content: center; margin-left: 20px;">
          
                
            <a class="btn btn-success btn-lg" href="{% url 'logout' %}" role="button" >Logout</a>
            <a class="btn btn-primary btn-lg" href="{% url 'users-register' %}" role="button">Video Guidelines</a>
            <a class="btn btn-danger btn-lg" href="{% url 'index' %}" role="button"><b>KStockAnalyzer</b></a>
            
      
            <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
            padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
            border-radius: 8px; will-change: transform;">
            
             <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
               src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFby8Gl8Co&#x2F;watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
             </iframe>   </div>  
               <td style="margin-left: 30px;"> <h3 style="text-align: left; color: rgb(243, 243, 243); padding: 10px; margin-left:20px ;">About KStockAnalyzer</h3>
             </a> <p class="lead", style="color: white; margin-left:30px ; text-align: justify;">
                     This tool as the name suggests will analyze the “stock prices” in future. This will also provide recommendations based on data science and machine learning algorithms about different stocks specially for intraday (daily trade-in) whose prices will go up also a user will be able to apply multiple indicators and stratigies for personilized recommendations by using stock technical analyzer. This tool will have a nice dashboard where all the graphical interpretations about stock prices will be present. So any user who does not have good knowledge of the stock market can easily invest by using our tool “K-Stock Analyzer”. 
                     We have created this tool based on “LIVE STOCK DATA” and used statistical methods for predictions and recommendations..
                 </p></td>
             </td>
            </p>
            </div>
    </td></tr></table>

  

{% else %}
<br>

<div class="box" style="   width: 550px;
height: 500px;
background-color: rgb(255, 255, 255);
box-shadow: 0 0 10px 5px rgba(134, 134, 134, 0.411); margin: auto; padding: 40px; ">
  <div style="margin: auto;">
    <tr>
    
      <td style="justify-content: center; text-align: center;">  <a style="color: #d40000; padding: 20px; padding-top: 30px; text-align: center; justify-content: center;"><h2>KStockAnalyzer</h2></a>
        <span class="wrap"></span>
      </a></td>
  <br>
    </tr>
    <tr>
    
      <td style="justify-content: center; text-align: center;">  <a style=" margin-left: 40px; color: #6b6b6b; padding: 20px; padding-top: 30px; text-align: center; justify-content: center;" class="typewrite h5 fw-bold mb-2 " data-period="2000" data-type='[ "Start Strategic & Algo Trading With Us", "Make Some Extra Profit Using KStockAnalyzer." ]'>
        <span class="wrap"></span>
      </a></td>
  
    </tr>

  </div>

    <hr>
<p  style="text-align:  center; line-height: 40px; color: #383838;">Don't have an account yet? Go to Register Now<br> OR <br>Login with existing account</p>
<hr>


<br>
<div style="margin-left: 110px;">
<a class="btn btn-dark btn-lg" href="{% url 'login' %}" role="button">Login</a>
<a class="btn btn-dark btn-lg" href="{% url 'users-register' %}" role="button">Register Now</a>
</div>


</div>

    
{% endif %}

<footer style="background-color: #000000; color: #fff; padding: 50px 0; ">

      </div>
      <div>
        <ul style="list-style: none; margin: 0; padding-left: 40px; display: flex; ">
          <li style="margin-right: 20px;"><a href="#" style="color: #fff; font-size: 16px; text-decoration: none;">Home</a></li>
          <li style="margin-right: 20px;"><a href="https://kdataanalyzer.com/about" style="color: #fff; font-size: 16px; text-decoration: none;">About Us</a></li>
          <li style="margin-right: 20px;"><a href="https://kdataanalyzer.com/" style="color: #fff; font-size: 16px; text-decoration: none;">Services</a></li>
          <li style="margin-right: 20px;"><a href="#" style="color: #fff; font-size: 16px; text-decoration: none;">Portfolio</a></li>
          <li><a href="https://gizmofacts.com/contact/" style="color: #fff; font-size: 16px; text-decoration: none;">Contact</a></li>
        </ul>
      </div>
    </div>
    <hr style="border-color: #fff; margin: 50px 0;">

      <p style="font-size: 14px; margin-top: 20px; text-align: right;">&copy; 2023 kstockanalyzer. All rights reserved.</p>
    </div>
  </footer>

        
{% endblock content %}
