body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw; 
    height: 100vh;
}

#pwd {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#cpwd {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

/* #card_type {
    height: 5px;
} */

@media screen and (max-width: 1920px ) {
    .my-nav {
        height: 15vh !important;
        /* border: 1px solid white !important; */
        padding: 0px !important;
        display: flex !important;
        align-items: flex-start !important;
    }
    .logo {
        width: 15% !important;
        height: 100% !important;
        /* border: 1px solid white !important; */
    }
    .nav-menu {
        /* border: 1px solid white !important; */
        width: 85% !important;
        padding-top: 10px;
        padding-right: 60px;
        display: flex !important;
        flex-direction: column;
        justify-content: flex-end;
    }
    .nav-item-box{
        /* border: 1px solid white !important; */
        width: 95% !important;
        padding-top: 20px;
    }
    .nav-item {
        color: #ffffff;
        margin-right: 5px;
    }
    .nav-item:hover {
        color: #ffffff;
        border-bottom: 1px solid #fff;
    }
    .content-box {
        width: 100%; 
        height: 85vh;
        /* border: 1px solid white; */
        display: flex;
    }
    
    .content-section-1 {
        width: 60%; 
        height: 95%; 
        /* border: 1px solid white; */
        padding-left: 220px;
        padding-right: 50px;
    }

    .content-section-1 > div:nth-child(1){
        padding: 40px;
        /* border: 1px solid yellow; */
    }

    .content-section-1 > div:nth-child(2){
        color: #ffffff;
    }
    
    .content-section-1 > div:nth-child(2) > h2{
        /* font-size: 50px; */
        /* border: 1px solid white; */
        width: 100%;
        font-weight: bold;
        font-size: 40px;
    }
    
    .content-section-1 > div:nth-child(2) > p{
        font-size: 13px;
        /* border: 1px solid white; */
        padding: 10px 40px 25px 0px;
    }
    
    .content-section-1 > div:nth-child(3){
        /* height: 450px; */
        width: 90%;
        /* overflow: hidden; */
        /* border: 1px solid white; */
    }
    
    .content-section-1 > div:nth-child(3) > video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* border: 1px solid white; */
    }

    .content-section-2 {
        width: 40%;
        height: 95%;
        padding-left: 70px;
        position: relative;
        /* border: 1px solid white; */
    }

    .content-section-2 > .floating-menu {
        /* border: 1px solid white; */
        width: 50px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 35px;
        top: 50px;
    }

    .floating-menu .floating-menu-item {
        /* border: 1px solid yellow; */
        border-radius: 5px;
        width: 100%;
        height: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1a1919;
        cursor: pointer;
    }

    .content-section-2 > .form-box {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 87%;
        border-radius: 10px;
        background-color: #000;
        height: 95% !important;
        padding: 20px 40px;
        /* border: 1px solid white; */
    }

    .extra-style {
        border: none !important; 
        outline: none !important;
        background: #333333 !important; 
        color: #ffffff !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .form-heading {
        color: #ffffff; 
        margin-top: 40px !important;
    }

    .form-box > #form_section > #signup_form {
        margin-top: 30px;
    }

    .form-box > #email-verify > #email_verify_form{
        margin-top: 30px;
        /* border: 1px solid white; */
    }

    .form-box > #payment-section > #payment_form{
        margin-top: 15px;
        /* border: 1px solid white; */
    }

    #payment-section > .form-heading {
        margin-top: 80px !important;
    }

    .form-group-outer {
        width: 100%;
    }

    .form-group-outer .item {
        width: 48%;
        display: flex;
        flex-direction: row;
        /* border: 1px solid yellow; */
    }

    .item .eye-pass, .item .eye-cpass {
        width: 20%;
        height: 100%;
        background-color:#6e6c6c;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }

    .form-submit {
        width: 100%; 
        background: #ec2026; 
        font-weight: 500; 
        outline: none; 
        border: none;
    }

    .form-submit:hover {
        background: #ec2026;
    }

    .need-help-text {
        padding-top: 20px
    }

    .have-account-text {
        /* border: 1px solid yellow; */
        padding-top: 0px; 
        height: 200px !important;
        display: flex;
        align-items: center;
    }

    .sign-in-link, .sign-in-link:hover {
        text-decoration: underline;
        color: #fff;
    }

    .otp-box {
        /* border: 1px solid white; */
        width: 100%;
        height: 300px;
    }

    .otp-box .otp-box-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        /* border: 1px solid yellow; */
    }
    
    .otp-box .otp-box-item:nth-child(2){
        height: 50%;
    }

    .otp-box-item > .otp-msg {
        text-align: center;
        font-size: 13px;
        width: 70%;
    }

    .otp-box-item > .otp-input-box {
        width: 60%;
        height: 100%;
        /* border: 1px solid green; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .otp-input-box > .otp-digit {
        height: 50%;
        width:22%;
        /* border: 1px solid blue; */
        border-radius: 10px;
        display: table;
    }
    .otp-digit > input {
        display: table-cell;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: none;
        outline: none;
        text-align: center;
    }
    .otp-digit > input::-webkit-inner-spin-button{
        -webkit-appearance: none !important;
    }

    .payment_option_checkbox{
        background-color: #fff;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* .payment_option_checkbox:nth-child(2){
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    } */

    .payment_toggle_section1, .payment_toggle_section2 {
        width: 100%;
        height: 220px;
        /* border: 1px solid #fff; */
    }
    .payment_toggle_section2 {
        display: none;
        margin-top: -15px !important;
        /* padding-left: 15px; */
    }

    .payment_toggle_section2 > .payment_via {
        background-color: #f4f4f4;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px;
    }

    .payment_toggle_section2 > .form-check{
        margin-left: 15px !important;
        margin-top: 10px;
    }

    .final_submit {
        height: 150px;
        /* border: 1px solid white; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .final_submit > span {
        font-size: 12px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 750px ) {
    .my-nav {
        height: 100px !important;
        width: 91%;
        /* border: 1px solid white !important; */
        margin: 0 auto;
        margin-top: 30px;
        display: flex !important;
        align-items: flex-end !important;
    }
    .logo {
        width: 50% !important;
        height: 100% !important;
        /* border: 1px solid white !important; */
    }
    .nav-menu {
        /* border: 1px solid white !important; */
        width: 100% !important;
        padding-top: 0px !important;
        padding-right: 0px !important;
        display: flex !important;
        justify-content: flex-end;
    }
    .navbar-toggler {
        padding-bottom: 20px !important;
        border: none !important;
        outline: none !important;
    }
    .nav-item-box{
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-end;
        border-radius: 5px;
        width: 100%; 
        margin-right: 55px; 
        padding-top: 0px;
        position: relative;
        z-index: 3;
    }

    .nav-item {
        /* border: 1px solid yellow; */
        width: 50%;
        color: #ffffff;
        text-align: end;
        font-size: 20px;
        padding-right: 20px !important;
        background-color: #866c7e;
        /* border-radius: 5px; */
    }
    .content-box {
        width: 91%;
        /* border: 1px solid yellow; */
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .content-section-1 {
        width: 100%; 
        height: auto; 
        padding-left: 0px;
        /* border: 1px solid white; */
    }

    .form-box > #form_section > #signup_form {
        margin-top: 20px;
    }

    .form-box > #email-verify > #email_verify_form{
        margin-top: 20px;
        /* border: 1px solid white; */
    }

    .form-box > #payment-section > #payment_form{
        margin-top: 10px;
        /* border: 1px solid white; */
    }

    .content-section-1 > div:nth-child(1){
        padding: 40px;
        /* border: 1px solid yellow; */
    }

    .content-section-1 > div:nth-child(2){
        color: #ffffff;
    }
    
    .content-section-1 > div:nth-child(2) > h2{
        font-size: 40px;
        /* border: 1px solid white; */
        width: 90%;
        font-weight: bold;
    }
    
    .content-section-1 > div:nth-child(2) > p{
        font-size: 15px;
        /* border: 1px solid white; */
        padding: 50px 0px 25px 0px;
    }
    
    .content-section-1 > div:nth-child(3){
        width: 100%;
        height: 300px;
        /* overflow: hidden; */
        /* border: 1px solid white; */
    }
    
    .content-section-1 > div:nth-child(3) > video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* border: 1px solid white; */
    }

    .content-section-2 {
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-left: 10px;
        padding-bottom: 50px;
        position: relative;
        /* border: 1px solid white; */
    }

    .content-section-2 > .floating-menu {
        /* border: 1px solid white; */
        width: 45px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 5px;
        top: 80px;
    }

    .floating-menu .floating-menu-item {
        /* border: 1px solid yellow; */
        border-radius: 5px;
        width: 100%;
        height: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1a1919;
    }

    .content-section-2 > .form-box {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 87%;
        border-radius: 10px;
        background-color: #000;
        height: 500px !important;
        padding: 20px;
    }

    .extra-style {
        border: none !important; 
        outline: none !important;
        background: #333333 !important; 
        color: #ffffff !important;
        font-size: 12px;
    }

    .form-heading {
        color: #ffffff; 
        /* border: 1px solid red; */
        margin-top: 10px !important;
        font-size: 20px;
    }

    .form-box > #payment-section > .form-heading {
        font-weight: normal;
        margin-top: 20px !important;
        font-size: 18px !important;
    }

    .form-box > #payment-section > h5 {
        font-size: 10px !important;
        font-weight: normal;
    }

    .payment_option_checkbox {
        padding: 5px !important;
        font-size: 10px !important;
        font-weight: 500;
    }

    .payment_option_checkbox > span > input {
        height: 7px;
    }

    .payment_via{
        padding: 5px 10px !important;
        font-weight: 500;
    }
    .payment_via > span {
        font-size: 10px !important;
    }

    .form-check > input {
        height: 8px;
    }

    .form-check > label {
        font-size: 10px !important;
    }

    .payment_toggle_section1, .payment_toggle_section2 {
        width: 100%;
        height: 150px;
        /* border: 1px solid #fff; */
    }
    .payment_toggle_section2 {
        display: none;
        margin-top: -15px !important;
        /* padding-left: 15px; */
    }

    /* .payment_toggle_section1{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
    } */

    .payment_toggle_section2 > .payment_via {
        background-color: #f4f4f4;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px;
    }

    .payment_toggle_section2 > .form-check{
        margin-left: 15px !important;
        margin-top: 10px;
    }

    .final_submit > span {
        font-size: 10px !important;
    }

    .payment_toggle_section1 > .form-group {
        margin-bottom: 8px !important;
    }

    .form-box > form {
        margin-top: 30px;
        /* border: 1px solid red; */
    }

    .form-group-outer {
        width: 100%;
    }

    .form-group-outer .item {
        width: 48%;
    }

    .item .eye-pass, .item .eye-cpass {
        width: 24% !important;
        height: 100%;
        background-color:#6e6c6c;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }

    .form-submit {
        width: 100%; 
        background: #ec2026; 
        font-weight: 500; 
        outline: none; 
        border: none;
        font-size: 10px;
    }

    .need-help-text {
        padding-top: 20px;
        font-size: 12px;
    }

    .have-account-text {
        /* border: 1px solid yellow; */
        padding-top: 0px; 
        height: 170px !important;
        display: flex;
        align-items: center;
    }

    .get-code {
        font-size: 10px;
    }

    .have-account-text > span {
        font-size: 12px;
    }

    .otp-box {
        /* border: 1px solid white; */
        width: 100%;
        height: 180px;
    }

    .otp-box .otp-box-item {
        padding: 7px;
    }

    .otp-box .otp-box-item:nth-child(2){
        height: 30%;
    }

    .otp-input-box > .otp-digit {
        height: 70%;
    }

    .otp-box-item > .otp-msg {
        text-align: center;
        font-size: 10px;
        width: 70%;
    }
}