{% extends "users/base.html" %}
{% load static %}
{% block title %} Register Page {% endblock title%}
{% block content %}

    <div class="content-box">
        <div class="content-section-1">
            <div></div>
            <div>
                <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h2>
                <p>exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            </div>
            <div>
                <video autoplay muted loop>
                    <source src="{% static 'image/vid.mp4' %}" type="video/mp4" />
                </video>
            </div>
        </div>
        <div class="content-section-2">
            <div style="background-image: url('{% static 'image/form_bg.png' %}');" class="form-box">
                <h3 class="form-heading">Create Account</h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control extra-style" placeholder="First Name" id="fname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control extra-style" placeholder="Last Name" id="lname">
                    </div>
                    <div class="d-flex justify-content-between form-group-outer">
                        <div class="form-group item">
                            <input type="text" class="form-control extra-style" placeholder="Username" id="uname">
                        </div>
                        <div class="form-group item">
                            <input type="email" class="form-control extra-style" placeholder="Email" id="email">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between form-group-outer">
                        <div class="form-group item">
                            <input type="password" class="form-control extra-style" placeholder="Password" id="pwd">
                        </div>
                        <div class="form-group item">
                            <input type="password" class="form-control extra-style" placeholder="Confirm Password" id="cpwd">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary form-submit">Sign Up</button>
                    <div class="d-flex justify-content-end" style="padding-top: 20px"><span class="text-white">Need Help?</span></div>
                    <div class="d-flex align-items-center" style="padding-top: 0px; height: 100px;">
                        <span class="text-white">Have an account? Go to Sign in</span>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}