{% extends "users/base.html" %}
{% load static %}
{% block title %} Register Page {% endblock title%}
{% block content %}

    <div class="content-box">
        <div class="content-section-1">
            <div></div>
            <div>
                <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h2>
                <p>exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            </div>
            <div>
                <video autoplay muted loop>
                    <source src="{% static 'image/vid.mp4' %}" type="video/mp4" />
                </video>
            </div>
        </div>
        <div class="content-section-2">
            <div class="floating-menu">
                <div class="floating-menu-item" id="user">
                    <img src="{% static 'image/user_icon.png' %}" id="user_icon" style="display: none;" alt="user_icon"  width="20px" height="20px">
                    <img src="{% static 'image/user_icon1.png' %}" id="user_icon1" style="display: block;" alt="user_icon1"  width="20px" height="20px">
                </div>
                <div class="floating-menu-item" id="shield_icon">
                    <img src="{% static 'image/shield.png' %}" id="shield" style="display: block;" alt="shield"  width="20px" height="20px">
                    <img src="{% static 'image/shield1.png' %}" id="shield1" style="display: none;" alt="shield1"  width="20px" height="20px">
                </div>
                <div class="floating-menu-item" id="dollar_icon">
                    <img src="{% static 'image/dollar.png' %}" id="dollar" alt="dollar" style="display: block;"  width="10px" height="20px">
                    <img src="{% static 'image/dollar1.png' %}" id="dollar1" alt="dollar1" style="display: none;"  width="17px" height="20px">
                </div>
            </div>
            <div style="background-image: url('{% static 'image/form_bg.png' %}');" class="form-box">
                <div id="form_section">
                    <h3 class="form-heading">Create Account</h3>
                    <form id="signup_form">
                        <div class="form-group">
                            <input type="text" class="form-control extra-style" placeholder="First Name" id="fname">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control extra-style" placeholder="Last Name" id="lname">
                        </div>
                        <div class="d-flex justify-content-between form-group-outer">
                            <div class="form-group item">
                                <input type="text" class="form-control extra-style" placeholder="Username" id="uname">
                            </div>
                            <div class="form-group item">
                                <input type="email" class="form-control extra-style" placeholder="Email" id="email">
                            </div>
                        </div>
                        <div class="d-flex justify-content-between form-group-outer">
                            <div class="form-group item">
                                <input type="password" class="form-control extra-style" placeholder="Password" id="pwd">
                                <div class="eye-pass" id="eye-pass">
                                    <i class="fa fa-eye" id="pwd-open-eye"></i>
                                    <i class="fa fa-eye-slash" id="pwd-close-eye" style="display: none;"></i>
                                </div>
                            </div>
                            <div class="form-group item">
                                <input type="password" class="form-control extra-style" placeholder="Confirm Password" id="cpwd">
                                <div class="eye-cpass" id="eye-cpass">
                                    <i class="fa fa-eye" id="cpwd-open-eye"></i>
                                    <i class="fa fa-eye-slash" id="cpwd-close-eye" style="display: none;"></i>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="submit-btn" class="btn btn-primary form-submit">Sign Up</button>
                        <div class="d-flex justify-content-end need-help-text"><span class="text-white">Need Help?</span></div>
                        <div class="have-account-text">
                            <span class="text-white">Have an account? Go to <a href="#" class="sign-in-link">Sign in</a></span>
                        </div>
                    </form>
                </div>
                <div id="email-verify" style="display: none;">
                    <h3 class="form-heading">E-mail Verification</h3>
                    <form id="email_verify_form">
                        <div class="form-group">
                            <input type="text" class="form-control extra-style" placeholder="Enter E-mail" id="email1">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control extra-style" placeholder="Re-enter E-mail" id="email2">
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <p class="text-white get-code">Get Code</p>
                        </div>
                        <div class="otp-box">
                            <div class="otp-box-item">
                                <span class="text-white otp-msg">Please enter the verification code sent to name.surname@gmail.com</span>
                            </div>
                            <div class="otp-box-item">
                                <div class="otp-input-box">
                                    <div class="otp-digit"><input type="number" class="otp-digit-n" name="digit1" id="digit1"></div>
                                    <div class="otp-digit"><input type="number" class="otp-digit-n" name="digit2" id="digit2"></div>
                                    <div class="otp-digit"><input type="number" class="otp-digit-n" name="digit3" id="digit3"></div>
                                    <div class="otp-digit"><input type="number" class="otp-digit-n" name="digit4" id="digit4"></div>
                                </div>
                            </div>
                            <div class="otp-box-item">
                                <span class="text-white otp-msg">Didn't receive an OTP?</span>
                            </div>
                            <div class="otp-box-item">
                                <span class="text-white otp-msg">Resend OTP?</span>
                            </div>
                        </div>
                        <button type="button" id="submit-otp-btn" class="btn btn-primary form-submit">Submit</button>
                    </form>
                </div>
                <div id="payment-section" style="display: none;">
                    <h3 class="form-heading">Subscribe to Kstockanalyzer</h3>
                    <h5 class="text-white" style="padding-top: 8px;">Payment Details</h5>
                    <form id="payment_form">
                        <div class="form-check payment_option_checkbox">
                            <span>
                                <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked value="1" onclick="showhidePaymentDetailsSection(1)" >
                                <label class="form-check-label"  for="flexRadioDefault2">
                                Credit Card (Stripe)
                                </label>
                            </span>
                            <img src="{% static 'image/credit_card_type.png' %}" alt="Card Types" id="card_type" height="15px" width="100px">
                        </div>
                        <div class="form-check payment_option_checkbox">
                            <span>
                                <input type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="2" onclick="showhidePaymentDetailsSection(2)" >
                                <label class="form-check-label" for="flexRadioDefault1">
                                PayPal
                                </label>
                            </span>
                            <img src="{% static 'image/paypal.png' %}" alt="Paypal" id="paypal" height="20px" width="100px">
                        </div>
                        <div id="payment_toggle_section1" class="payment_toggle_section1">
                            <div class="form-group">
                                <input type="text" class="form-control extra-style" placeholder="Name on the Card" id="card_name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control extra-style" placeholder="Card Number" id="card_no">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control extra-style" placeholder="Postal Code" id="postal_code">
                            </div>
                            <div class="d-flex justify-content-between form-group-outer">
                                <div class="form-group item">
                                    <input type="text" class="form-control extra-style" placeholder="Expiration Date" id="expiry_date">
                                </div>
                                <div class="form-group item">
                                    <input type="text" class="form-control extra-style" placeholder="CVV" id="cvv">
                                </div>
                            </div>
                        </div>
                        <div id="payment_toggle_section2" class="payment_toggle_section2">
                            <div class="payment_via">
                                <span>Pay via PayPal</span>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                                <label class="form-check-label text-white" for="flexCheckDefault">
                                  I have read and agree to the website terms and conditions
                                </label>
                            </div>
                        </div>
                        <div id="final_submit" class="final_submit">
                            <span class="text-white">
                                Your account will be debited for the subscription fee after the trial period expires. You can try the service out after signing up for a month at no cost.
                            </span>
                            <button type="button" id="submit-otp-btn" class="btn btn-primary form-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}